.badge-secondary {
    background-color: grey;
    color: black;
}

.badge-success {
    background-color: red;
}

.bg-light {
    background-image: linear-gradient(black 0%, #a2a2a2 60%)!important;
}

.btn-primary {
    background-color: black;
    border-color: green;
    
}

.btn-primary:hover {
  background-color: pink;
  border-color: purple;
  color: aqua;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 50%;
}

.btn-second {
    background-color: #901020;
    border-color: black;
    border-width: 3px;
}

.notif {
    text-align: right;
    margin-bottom: 30px;
}

.form-group {
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
}

.progress {
    margin-top: 4px;
    margin-bottom: 4px;
}